<a href="https://colab.research.google.com/github/octaviolocatelli/aulas_python/blob/main/aula1_mqa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Iniciando nossa análise sobre salários dos CEOs

In [ ]:
import pandas as pd # essa biblioteca trazem as funções para operar dados (ex. excel)
import numpy as np # essa biblioteca traz algumas funções matemáticas

In [ ]:
path = 'DADOS_CEO.xlsx' # "2026220_20332_DADOS_CEO.xlsx"

print(path)

DADOS_CEO.xlsx

In [ ]:
#vamos carregar o excel
dados = pd.read_excel(path)

In [ ]:
# Explorar os dados
dados.columns #as colunas do excel

Index(['ticker', 'vendas', 'salario_ceo', 'idade', 'ativo', 'educ_business'], dtype='object')

In [ ]:
dados.head() #mostrar as primeiras linhas da tabela

    ticker       vendas  salario_ceo  idade        ativo  educ_business
0  OSUR.OQ     387479.0     228992.0     61     444180.0              0
1     VZ.N  136835000.0   24129317.0     58  379680000.0              1
2    ABT.N   43653000.0   23268171.0     50   74438000.0              0
3  XRAY.OQ    3922000.0     318750.0     59    7643000.0              0
4   AMD.OQ   23601000.0   30348281.0     54   67580000.0              0

In [ ]:
dados.tail() #mostrar as últimas linhas da tabela

      ticker       vendas  salario_ceo  idade        ativo  educ_business
827    KGS.N   707913.000     318563.0     68  3205540.000              0
828    ULS.N  2520000.000     350000.0     72  2720000.000              0
829  MAMO.OQ    82567.816     272115.0     58    36112.610              0
830  SERV.OQ        0.000     142722.0     39     8656.709              0
831   LOAR.N   239434.000    2197213.0     60   994521.000              1

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 832 entries, 0 to 831
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ticker         832 non-null    object
 1   vendas         832 non-null    float64
 2   salario_ceo    832 non-null    float64
 3   idade          832 non-null    int64
 4   ativo          831 non-null    float64
 5   educ_business  832 non-null    int64
dtypes: float64(3), int64(2), object(1)
memory usage: 39.1+ KB

In [ ]:
#estatística descritiva
dados.describe().round(0)

            vendas  salario_ceo  idade        ativo  educ_business
count        832.0        832.0  832.0        831.0          832.0
mean    10567084.0    4327860.0   64.0   15886036.0            0.0
std     34619584.0    6954564.0    9.0   51198314.0            0.0
min            0.0          1.0   33.0       1277.0            0.0
25%       532110.0     318703.0   60.0     792364.0            0.0
50%      2239236.0     492036.0   65.0    2854589.0            0.0
75%      7913000.0    6334591.0   70.0   10922670.0            0.0
max    513983000.0   54549486.0   93.0  948465000.0            1.0

In [ ]:
#excluir observações faltantes
dados = dados.dropna() #Dropamos os valores NA
#### Na dissertação colocar a amostra inicial, a quantidade excluída e a amostra final

In [ ]:
dados.describe().round()

            vendas  salario_ceo  idade        ativo  educ_business
count        831.0        831.0  831.0        831.0          831.0
mean    10575184.0    4323837.0   64.0   15886036.0            0.0
std     34639644.0    6957784.0    9.0   51198314.0            0.0
min            0.0          1.0   33.0       1277.0            0.0
25%       529325.0     318656.0   60.0     792364.0            0.0
50%      2238010.0     491072.0   65.0    2854589.0            0.0
75%      7924000.0    6296972.0   70.0   10922670.0            0.0
max    513983000.0   54549486.0   93.0  948465000.0            1.0

In [ ]:
# criar novas variáveis
dados["vendas_ativo"] = dados["vendas"]/dados["ativo"] #vendas/ativo
dados["salario_ativo"] = dados["salario_ceo"]/dados["ativo"] #salario_ceo/ativo
dados["log_ativo"] = np.log(dados["ativo"]) #logaritmo do ativo
### apresentar na tabela de variáveis

In [ ]:
### se winsorizar, colocar na dissertação, e colocar o percentual

In [ ]:
### DESCRITIVA FINAL
dados[["vendas_ativo", "salario_ativo", "log_ativo", "idade", "educ_business"]].describe().round(4).T

,count,mean,std,min,25%,50%,75%,max
vendas_ativo,831.0,0.8238,0.6973,0.0000,0.3807,0.6773,1.0849,8.7644
salario_ativo,831.0,3.8962,26.9621,0.0000,0.1009,0.3747,1.6732,568.1671
log_ativo,831.0,14.8430,1.9855,7.1527,13.5828,14.8644,16.2063,20.6704
idade,831.0,64.3045,8.5176,33.0000,60.0000,65.0000,70.0000,93.0000
educ_business,831.0,0.2431,0.4292,0.0000,0.0000,0.0000,0.0000,1.0000

In [ ]:
from scipy.stats import ttest_ind

In [ ]:
grupo0 = dados.loc[dados["educ_business"] == 0, "salario_ceo"]
grupo1 = dados.loc[dados["educ_business"] == 1, "salario_ceo"]

resultado = ttest_ind(grupo0, grupo1)
print(resultado)

###  H0: média do grupo 1 é igual a média do grupo 0

TtestResult(statistic=np.float64(2.5683685561912126), pvalue=np.float64(0.010391894516714925), df=np.float64(829.0))

In [ ]:
grupo0 = dados.loc[dados["educ_business"] == 0, "ativo"]
grupo1 = dados.loc[dados["educ_business"] == 1, "ativo"]

resultado = ttest_ind(grupo0, grupo1, alternative="greater")
print(resultado)
###  H0 com alternative greater: média do grupo 1 é maior que a média do grupo 0

TtestResult(statistic=np.float64(2.5683685561912126), pvalue=np.float64(0.005195947258357462), df=np.float64(829.0))

In [ ]:
dados.groupby("educ_business")["salario_ceo"].mean()

educ_business
0    4.673959e+06
1    3.233607e+06
Name: salario_ceo, dtype: float64

In [ ]:
import pandas as pd
from scipy.stats import ttest_ind
vars_ = ["idade", "salario_ativo", "vendas_ativo", "ativo"]
resultados = []
for v in vars_:
    g0 = dados[dados["educ_business"] == 0][v].dropna()
    g1 = dados[dados["educ_business"] == 1][v].dropna()
    t, p = ttest_ind(g1, g0, equal_var=False)
    resultados.append({
        "variavel": v,
        "media_grupo0": g0.mean(),
        "media_grupo1": g1.mean(),
        "dif": g1.mean() - g0.mean(),
        "t": t,
        "p": p
    })
tabela = pd.DataFrame(resultados).set_index("variavel").round(3)
tabela

### TABELA DE DIFERENÇAS DE MÉDIAS

               media_grupo0  media_grupo1          dif      t      p
variavel
idade          6.406800e+01  6.504000e+01        0.971  1.430  0.154
salario_ativo  4.700000e+00  1.394000e+00       -3.305 -2.642  0.008
vendas_ativo   8.020000e-01  8.920000e-01        0.090  1.608  0.109
ativo          1.497252e+07  1.873061e+07  3758092.656  0.673  0.502

In [ ]:
## Somente o salário tem diferença entre os grupos com educação em negócios ou não.

## Cuidado: Isso não quer dizer que é por causa da educação em negócios
##que os salários são diferentes.

In [ ]:
dados[["vendas_ativo", "salario_ativo", "log_ativo", "idade", "educ_business"]].corr(method="pearson")

               vendas_ativo  salario_ativo  log_ativo     idade  educ_business
vendas_ativo       1.000000      -0.073344  -0.012261  0.069231       0.055528
salario_ativo     -0.073344       1.000000  -0.264290 -0.128413      -0.052616
log_ativo         -0.012261      -0.264290   1.000000  0.017856      -0.007300
idade              0.069231      -0.128413   0.017856  1.000000       0.048941
educ_business      0.055528      -0.052616  -0.007300  0.048941       1.000000

In [ ]:
from scipy.stats import pearsonr

vars_ = [
    "idade", "educ_business", "vendas_ativo",
    "salario_ativo", "log_ativo"
]

df_corr = dados[vars_].dropna()

corr = pd.DataFrame(index=vars_, columns=vars_)
pvals = pd.DataFrame(index=vars_, columns=vars_)

for i in vars_:
    for j in vars_:
        r, p = pearsonr(df_corr[i], df_corr[j])
        corr.loc[i, j] = r
        pvals.loc[i, j] = p

def estrelas(p):
    if p < 0.01:
        return "***"
    elif p < 0.05:
        return "**"
    elif p < 0.10:
        return "*"
    else:
        return ""

corr_sig = corr.astype(float).round(3).astype(str)

for i in vars_:
    for j in vars_:
        corr_sig.loc[i, j] += estrelas(float(pvals.loc[i, j]))

corr_sig

                   idade educ_business vendas_ativo salario_ativo  log_ativo
idade             1.0***         0.049      0.069**     -0.128***      0.018
educ_business      0.049        1.0***        0.056        -0.053     -0.007
vendas_ativo     0.069**         0.056       1.0***      -0.073**     -0.012
salario_ativo  -0.128***        -0.053     -0.073**        1.0***  -0.264***
log_ativo          0.018        -0.007       -0.012     -0.264***     1.0***

In [ ]:
### MATRIZ DE CORRELAÇÃO

In [ ]:
import statsmodels.api as sm

In [ ]:
# definindo as variáveis x e y

y = dados["salario_ativo"]
x = dados[["educ_business", "idade", "vendas_ativo", "log_ativo"]]
x = sm.add_constant(x)

In [ ]:
# treinar o modelo
modelo = sm.OLS(y, x).fit()

In [ ]:
# mostrar os resultados

print(modelo.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          salario_ativo   R-squared:                       0.092
Model:                            OLS   Adj. R-squared:                  0.087
Method:                 Least Squares   F-statistic:                     20.88
Date:                Sat, 21 Feb 2026   Prob (F-statistic):           2.06e-16
Time:                        14:33:57   Log-Likelihood:                -3876.3
No. Observations:                 831   AIC:                             7763.
Df Residuals:                     826   BIC:                             7786.
Df Model:                           4
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
const            83.5673      9.484      8.812      0.000      64.953     102.182
educ_business    -2.8364      2.088     -1.358      0.175      -6.936       1.263
idade            -0.3701      0.105     -3.514      0.000      -0.577      -0.163
vendas_ativo     -2.5506      1.287     -1.982      0.048      -5.077      -0.024
log_ativo        -3.5760      0.450     -7.940      0.000      -4.460      -2.692
==============================================================================
Omnibus:                     1688.858   Durbin-Watson:                   2.019
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          2851159.852
Skew:                          15.507   Prob(JB):                         0.00
Kurtosis:                     288.275   Cond. No.                         707.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [ ]:
erro = modelo.resid

In [ ]:
erro.describe().round(3)

count    831.000
mean      -0.000
std       25.694
min      -28.436
25%       -6.020
50%       -1.277
75%        2.394
max      536.617
dtype: float64